<h1>Welcome, <%= @user.first_name %>!</h1>

<ul>

  <% Car.all.each do |car| %>
     



     <% if car.user_id == @user.id %>
      <li><a href="/cars/<%= car.id %>"><%= car.make %> <%= car.model %> (<%= car.year %>)</a></li>
    <% else %>
      <li><%= car.make %> <%= car.model %> (<%= car.year %>)</li>
    <% end %>
  <% end %>

</ul>

<br>

<p><a href="/cars/new">Create New</a> - Creates a new car</p>

<p><a href="/logout">Log Out</a> - Logs out current user</p>

<p>Delete Account</a> - Deletes your account</p>

  
